{{ define "main" }}
  <!-- layouts/qa/list.html -->
  <h1 class="article header">常见问答</h1>

<div class="faq-container">
    {{ range $id, $faq :=.Site.Data.faq }}
        {{ $q := $faq.Q | default "" }} <!-- 问题 -->
        {{ $a := $faq.A | default "" }} <!-- 回答 -->
        {{ $b := $faq.B | default "" }} <!-- 补充 -->
        {{ $du1 := 3228828029 }} <!-- brown -->
        {{ $du2 := 3077385525 }} <!-- cyan -->
        {{ $du3 := 1359973776 }} <!-- green -->
        {{ $u1 := $faq.U1 | default $du1 }} <!-- 提问人 -->
        {{ $u2 := $faq.U2 | default $du2 }} <!-- 回答人 -->
        {{ $u3 := $faq.U3 | default $du3 }} <!-- 补充人 -->
        {{ $n1 := $faq.N1 | default "" }}
        {{ $n2 := $faq.N2 | default "" }}
        {{ $n3 := $faq.N3 | default "" }}
        
        {{ if or $q $a $b}}
            <p class="faq-msg faq-date">{{$id}}</p>
        {{ end }}

        <!-- 提问人 -->
        {{ if and $q }}
        <div class="faq-msg faq-question">
          <img src='http://q1.qlogo.cn/g?b=qq&nk={{ $u1 }}&s=100'
               class="faq-avatar"
               alt="QQ头像 {{ $u1 }}">
          <div class="faq-content">
            <div class="faq-userinfo">
              <!-- 身份部分 -->
              <div class="faq-userrole {{ if eq $u1 1163650990 }}faq-admin{{ else if $n1 }}faq-user{{ end }}">
                {{ if eq $u1 1163650990 }}群主{{ else if $n1 }}群员{{ else }}匿名{{ end }}
              </div>
              <!-- 昵称部分 -->
              <div class="faq-nickname">
                {{ if $n1 }}{{ $n1 }}{{ else }}神秘群员{{ end }}【问】
              </div>
            </div>
            <div class="faq-bubble faq-q">{{ $q | markdownify }}</div>
          </div>
        </div>
      {{ end }}
        
        
        <!-- 回答人 -->
        {{ if and $a }}
          <div class="faq-msg faq-answer">
            <img src='http://q1.qlogo.cn/g?b=qq&nk={{ $u2 }}&s=100'
                 class="faq-avatar"
                 alt="QQ头像 {{ $u2 }}">
            <div class="faq-content">
              <div class="faq-userinfo">
                <!-- 身份部分 -->
                <div class="faq-userrole {{ if eq $u2 1163650990 }}faq-admin{{ else if $n2 }}faq-user{{ end }}">
                  {{ if eq $u2 1163650990 }}群主{{ else if $n2 }}群员{{ else }}匿名{{ end }}
                </div>
                <!-- 昵称部分 -->
                <div class="faq-nickname">
                  {{ if $n2 }}{{ $n2 }}{{ else }}热心群员{{ end }}〖答〗
                </div>
              </div>
              <div class="faq-bubble faq-a">{{ $a | markdownify }}</div>
            </div>
          </div>
        {{ end }}

        <!-- 补充人 -->
        {{ if and $b }}
          <div class="faq-msg faq-answer">
            <img src='http://q1.qlogo.cn/g?b=qq&nk={{ $u3 }}&s=100'
                 class="faq-avatar"
                 alt="QQ头像 {{ $u3 }}">
            <div class="faq-content">
              <div class="faq-userinfo">
                <!-- 身份部分 -->
                <div class="faq-userrole {{ if eq $u3 1163650990 }}faq-admin{{ end }}">
                  {{ if eq $u3 1163650990 }}群主{{ else if $n3 }}群员{{ else }}匿名{{ end }}
                </div>
                <!-- 昵称部分 -->
                <div class="faq-nickname">
                  {{ if $n3 }}{{ $n3 }}{{ else }}热心群员{{ end }}〖补〗
                </div>
              </div>
              <div class="faq-bubble faq-a">{{ $b | markdownify }}</div>
            </div>
          </div>
        {{ end }}

        <hr>
    {{ end }}
</div>


  <hr>




{{ end }}
