{{- if or (eq .Params.comments true) (and (ne .Params.comments false) (eq site.Params.comments.enable true)) -}}
<div id="tcomment"></div>
<script src="{{ (resources.Get "js/twikoo.all.min.js" | minify | fingerprint).RelPermalink }}"></script>
<script>
twikoo.init({ envId: 'https://bxq.netlify.app/.netlify/functions/twikoo', el: '#tcomment', })
</script>
</div>
{{- end -}}


<!-- <script src="https://s4.zstatic.net/ajax/libs/twikoo/1.6.41/twikoo.all.min.js" integrity="sha384-XqRjIHRB13HFGom3gYeK+L2UHxFRl5qTZN+DESSXOgiiKYCwm6ZicU3oS3oovY6H" crossorigin="anonymous"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/twikoo@1.6.41/dist/twikoo.all.min.js"></script> -->


