<section class="article header">
    {{- if and (not (eq .Params.single true)) -}}
    <h1 class="article title">
      {{- .Title | safeHTML -}}
      <a href="/cms/#/edit/{{ replace (replace .File.Path "content/" "") ".md" "/" }}" 
       class="edit-button" 
       title="编辑文章"
       target="_blank">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"/>
      </svg>
      </a>
    </h1>
    {{- end -}}
    {{- $dateFormat := site.Params.dateFormat -}}
    {{- if not $dateFormat -}}{{- $dateFormat = "2006-01-02" -}}{{- end -}}
    {{- $lastmodFormat := "" -}}
    {{- $lastmod := .Lastmod -}}
    {{- if $lastmod -}}
        {{- $lastmodFormat = $lastmod.Format $dateFormat -}}
    {{- end -}}
    {{- if .Date -}}
        {{- $dateFormat := .Date.Format $dateFormat -}}
        <p class="article date">{{- $dateFormat -}}
            {{- if and ($lastmod.After .Date) (ne $lastmodFormat $dateFormat) -}}
                <span class="lastmod">{{- printf (T "edited") $lastmodFormat -}}</span>
            {{- end -}}
            {{- if or (eq .Params.readingTime true) (and (not (eq .Params.readingTime false)) (eq site.Params.readingTime true)) -}}
            <span class="reading-time">{{ T "readingTime" .ReadingTime }}</span>
            {{- end -}}
            {{- if .IsTranslated -}}
            <span class="langs">
                {{- range .Translations -}}
                <span class="lang"><a href="{{- .RelPermalink -}}">{{- .Lang -}}</a></span>
                {{- end -}}
            </span>
            {{- end -}}
        </p>
    {{- end -}}
    {{- partial "article-header-extra.html" . -}}
</section>