<!--
    for user-side override
-->

<!-- <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script> -->
<!-- <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" defer></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/fuse.js@6.4.6/dist/fuse.min.js" defer></script> -->
<script src="{{ (resources.Get "js/fuse.js" | minify | fingerprint).RelPermalink }}" defer></script>
<script src="{{ (resources.Get "js/search.js" | minify | fingerprint).RelPermalink }}" defer></script>
<script src="{{ (resources.Get "js/footer.js" | minify | fingerprint).RelPermalink }}" defer></script>



<script>
    document.querySelectorAll('pre > code').forEach((codeblock) => {
        const container = codeblock.parentNode.parentNode;

        const copybutton = document.createElement('div');
        copybutton.classList.add('copy-code');
        copybutton.innerHTML = '复制';

        function copyingDone() {
            copybutton.innerHTML = '已复制';
            setTimeout(() => {
                copybutton.innerHTML = '复制';
            }, 2000);
        }

        copybutton.addEventListener('click', (cb) => {
            // 去除整段代码首尾的空格（但保留内部的空格和换行）
            const text = codeblock.textContent.trim();

            if ('clipboard' in navigator) {
                navigator.clipboard.writeText(text);
                copyingDone();
                return;
            }

            // 兼容旧浏览器的复制方式（可能无法去除空格）
            const range = document.createRange();
            range.selectNodeContents(codeblock);
            const selection = window.getSelection();
            selection.removeAllRanges();
            selection.addRange(range);
            try {
                document.execCommand('copy');
                copyingDone();
            } catch (e) { };
            selection.removeRange(range);
        });

        if (container.classList.contains("highlight")) {
            container.appendChild(copybutton);
        } else if (container.parentNode.firstChild == container) {
            // td containing LineNos
        } else if (codeblock.parentNode.parentNode.parentNode.parentNode.parentNode.nodeName == "TABLE") {
            // table containing LineNos and code
            codeblock.parentNode.parentNode.parentNode.parentNode.parentNode.appendChild(copybutton);
        } else {
            // code blocks not having highlight as parent class
            codeblock.parentNode.appendChild(copybutton);
        }
    });
</script>

