{{- $imagePath := .Get 0 -}}
{{- $alt := .Get 1 | default (path.BaseName $imagePath) -}}
{{- $width := .Get 2 -}}
{{- $height := .Get 3 -}}

{{- $image := resources.Get $imagePath -}}

{{- if $image -}}
    {{- $processedImage := $image -}}

    {{- $processedImage = $processedImage | fingerprint -}}

    <div style="text-align: center; margin: 3px;"><img loading="lazy" src="{{ $processedImage.RelPermalink }}" alt="{{ $alt }}" {{ with $width }}width="{{ . }}"{{ end }} {{ with $height }}height="{{ . }}"{{ end }} /></div>
{{- else -}}
    {{- errorf "Image not found: %s" $imagePath -}}
{{- end -}}