<div loading="lazy" style="text-align: center; margin-bottom: 20px;">
  <img loading="lazy" src="{{ (resources.Get "images/wechat-qrcode.webp" | fingerprint).RelPermalink }}" alt="微信二维码" width="45%" style="margin-right: 10px; border: 2px solid #000; border-radius: 12px;">
  <img loading="lazy" src="{{ (resources.Get "images/alipay-qrcode.webp" | fingerprint).RelPermalink }}" alt="支付宝二维码" width="45%" style="border: 2px solid #000; border-radius: 12px;">
  <p>扫码支持作者，获取抢先体验内容。</p>
  <small>留言 QQ 号码，管理员会给你发放测试码。</small>
</div>


